h1 {
    font-family: 'Copperplate', fantasy;
    font-size: 90px;
    color: rgb(154, 186, 154);
    background-color: pink;
    text-align: center;
    margin: auto
}

h2 {
    font-family: 'Copperplate', fantasy;
    font-size: 40px;
    color: rgb(154, 186, 154);
    background-color: pink;
    text-align: center;
    margin: auto
}

h3 {
    font-size: 40px;
    color: rgb(154, 186, 154);
    background-color: pink;
    text-align: center;
}

body {
    background-color: pink;
}

p {
    text-align: center;
    color: rgb(154, 186, 154);
    background-color: rgb(249, 218, 223);
    font-size: 20px;
}

.HomePage {
    border: 4px rgb(154, 186, 154) solid;
    background-color: rgb(249, 218, 223);
    height: 100px;
    width: 50%;
    display: inline-block;
    text-decoration: none;
}

.HomePage2 {
    border: 4px rgb(154, 186, 154) solid;
    background-color: rgb(249, 218, 223);
    height: 100px;
    width: 50%;
    display: inline-block;
    text-decoration: none;
}

.Container {
    width: 100%;
    height: 100px;
    display: flex;
    text-decoration: none;
}

.AboutMe {
    border: 4px rgb(154, 186, 154) solid;
    background-color: rgb(249, 218, 223);
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}

.img {
    display: block;
    height: 50px;
    border-color: pink;
    border-style: dashed;
}

.homepage {
    margin: auto;
    display: block;
    border-color: rgb(154, 186, 154);
    border-style: solid;
    text-decoration: none;
}

a {
    display: block;
}

p a {
    text-decoration: none;
    color: black;
}